{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if banners %}
{% for banner in banners%}
<div class="row mt-5">
  <div class="col-md-12 col-xl-12 " style="position: relative;"> 
        <div class="banner-image">
          <img  src="/uplaods/{{ banner.image_file}}"   alt="Card image" style="width:100%;height:auto;max-height: 100vh;" >
        </div>
        <div class="banner-text text-white" style="position:absolute;top:35%;left:30%; display:flex;justify-content: center; align-items:center ; flex-direction: column;">
          <h2 style="font-size:35px"> {{banner.title}}</h2>
          <h4> {{banner.subtitle}} </h4>
          <a href="#" class="btn mt-3 btn-primary bg-white text-dark" style="border:none;">Contact Me</a>
        </div>
  
     {% endfor %}
      {% else  %}
      <div class="col-md-3 col-xl-3 col-sm-6 col-xs-12 mb-5">
        <p class="text-danger text-center">* No banner found!</p>
      </div>
      {% endif %}
  </div>
 
    <div class="row">
        <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12 ">
            <h3 class="mt-5 mb-4">Most Popular Projects</h3>
        </div>
        {% if projects %}
            {% for project in projects %}
            <div class="col-md-3 col-xl-3 col-sm-6 col-xs-12 mb-5">
            <div class="card img-fluid">
                <img class="card-img-top" src="/uplaods/{{project.image_file}}" alt="Card image" style="width:100%; height:200px;">
                <div class="card-img-overlay" style="display: flex; justify-content: center;align-items: center;flex-direction: column; color:#fff;">
                  <h4 class="card-title">Learn Django</h4>
                  <!-- <a href="#" class="btn btn-info btn-sm">View Detail</a>   -->
                </div>
            </div>
        </div>
            {% endfor %}
        {% endif %}


        
        

        
    </div>
    <div class="row">
        <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12 ">
            <h3 class="mt-5 mb-4">Most Popular Blogs</h3>
        </div>
        {% if blogs %}
            {% for blog in blogs %}
            <div class="col-md-3 col-xl-3 col-sm-6 col-xs-12 mb-5">
            <div class="card img-fluid">
                <img class="card-img-top" src="/uplaods/{{blog.image_file}}" alt="Card image" style="width:100%; height:200px;">
                <div class="card-img-overlay" style="display: flex; justify-content: center;align-items: center;flex-direction: column; color:#fff;">
                  <h4 class="card-title text-capitalize">{{blog.title}}</h4>
                  <!-- <a href="#" class="btn btn-info btn-sm">View Detail</a>   -->
                </div>
            </div>
        </div>
            {% endfor %}
        {% endif %}


        
        

        
    </div>
    
  </div>
</div>
{% endblock %}
