{% extends 'dashboard/dashboard.html' %}
{% block content %}

<h2 style="margin-left:12px ; font-size: xx-large; font: bolder;">Dashboard</h2>
<div class="col-sm-10" style="margin:0 !important; padding:0 !important;">
  
    
    <div class="col-sm-3" style="margin:0 !important; padding-left:3% !important; width: 25%;padding-right:3% !important; " >
      <div class="well" style="color: white; font-size: large; background-color: orange;">
        <h4>Subscription</h4>
      
      </div>
    </div>
    <div class="col-sm-3" style="margin:0 !important; padding-left:3% !important; width: 25%;">
      <div class="well" style="color: white; font-size: large; background-color:green;">
        <h4>Users</h4>
        
      </div>
    </div>
    <div class="col-sm-3" style="margin:0 !important; padding-left:3% !important; width: 25%;">
      <div class="well" style="color: white; font-size: large; background-color:rgb(8, 100, 136);">
        <h4>Messages</h4>
      
      </div>
    </div>
    <div class="col-sm-3" style="margin:0 !important; padding-left:3% !important;width: 25%;padding-right:3% !important;">
      <div class="well" style="color: white; font-size: large; background-color: red;">
        <h4>New Posts</h4>
        
      </div>
    </div>
{% endblock content %}
    